:root {
    --primary: #0D3953;
    --secondary: #C9932E;
    --heading: #118CA0;
    --para: #0D3953;
}

* {
    color: var(--para);
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FBFBFB;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: inherit;
}

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.first-header , .second-header{
    padding: 5px 7%;
    align-items: center;
}

.first-header .about-section a {
    margin: 0 5px;
}

:is(.first-header,.second-header) .item {
    margin: 0 15px;
    color: #888;
    font-size: 14px;
}

.first-header .call-section p {
    width: 100%;
    text-align: right;
    color: var(--primary);
    cursor: pointer;
}

.second-header .nav-section{
    text-align: right;
    direction: rtl;
}

.second-header .nav-section a{
    margin: 0 5px;
}

.second-header .logo img{
    width: 200px;
}

.flex {
    display: flex;
}

.fl-1 {
    flex: 1;
}

.fl-2 {
    flex: 2;
}

.ai-c {
    align-items: center;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.sep {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 1px;
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,#888888 50%,#888888 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%);
}

#footer {
    margin-top: 30px;
    background: #1D2E30;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
  
#footer .f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 7%;
}
  
#footer .logo {
    margin-bottom: 30px;
    width: 100%;
    padding-right: 100px;
}
  
#footer .logo img {
    width: 300px;
}
  
#footer .logo .content {
    margin-top: 20px;
    color: white;
    text-align: justify;
}
  
#footer .links {
    width: 100%;
    justify-content: center;
}
  
#footer .links .col {
    width: 300px;
}
  
#footer .links .col li {
    margin-bottom: 35px;
    list-style-type: none;
    font-weight: bold;
}
  
#footer .links .col a {
    color: #dfdfdf;
}
  
#footer .links .col a:hover {
    color: #f4f4f4;
}
  
#footer .footer-end {
    background: #0F1617;
    color: #999;
    height: 90px;
    padding: 15px 7%;
}
  
#footer .social {
    float: right;
    display: flex;
    margin: 20px 0;
}
  
#footer .social a {
    margin-right: 40px;
    width: 30px;
    height: 30px;
}

#footer .social a i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #0F1617;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: all .2s ease-in;
}

#footer .social a i.fa-facebook-f:hover {
    background-color: #3b5998;
    color: white;
}

#footer .social a i.fa-instagram:hover {
    background-color: #8a3ab9;
    color: white;
}

#footer .social a i.fa-linkedin-in:hover {
    background-color: #0077b5;
    color: white;
}

#footer .social a i.fa-twitter:hover {
    background-color: #00acee;
    color: white;
}

#footer .social a i.fa-youtube:hover {
    background-color: #FF0000;
    color: white;
}

.search-input {
    margin-top: 8px;
    padding-left: 45px;
    height: 50px;
    outline: none;
    font-size: 17px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}
  
.icon {
    font-size: 21px;
    color: white;
    position: absolute;
    left: 15px;
    z-index: 1;
    bottom: 15px;
    cursor: pointer;
}
  
.search-label {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: default;
    text-align: left;
}

:is(#footer) .contact-icons, .contact-heading{
    margin-top: 10px;
}

#footer .contact-heading b {
    color: white;
}

#footer .contact-heading p {
    color: white;
    line-height: 5px;
}

.contact-icons .icon-data i{
    color: white;
    width: 20px;
    height: 20px;
    background-color: #0F1617;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

.contact-icons .icon-content {
    color: white;
}