
@import url(variables.css);
@import url(box_container.css);

* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* font-family: 'Tajawal', sans-serif; */
    color: var(--para);
    background-color: #FBFBFB;
}
html,body{
    height:100%;
    width:100%;
}
a {
    text-decoration: none;
    color: inherit;
    text-align: inherit;
}

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.first-header , .second-header{
    padding: 15px 144px;
    align-items: center;
}

.first-header .about-section a {
    margin: 0 5px;
}

:is(.first-header,.second-header) .item {
    margin: 0 15px;
    color: #888;
    font-size: 14px;
}

.first-header .call-section p {
    width: 100%;
    text-align: right;
    color: var(--primary);
    cursor: pointer;
}

.second-header .nav-section{
    text-align: right;
    direction: rtl;
}

.second-header .nav-section a{
    margin: 0 5px;
}

.second-header .logo img{
    width: 200px;
}

.flex {
    display: flex;
}

.fl-1 {
    flex: 1;
}

.fl-2 {
    flex: 2;
}

.ai-c {
    align-items: center;
}


.sep {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 1px;
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,#888888 50%,#888888 51%,rgba(225,228,226,0) 99%,rgba(229,229,229,0) 100%);
}

#footer {
    margin-top: 50px;
    background: #1D2E30;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
#footer * {
    box-sizing: content-box;
}
#footer .f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 7%;
}

#footer .logo {
    margin-bottom: 30px;
    width: 100%;
    padding-right: 100px;
}

#footer .logo img {
    width: 300px;
}

#footer .logo .content {
    margin-top: 20px;
    color: white;
    text-align: justify;
}

#footer .links {
    width: 100%;
    justify-content: center;
}

#footer .links .col {
    width: 300px;
}

#footer .links .col li {
    margin-bottom: 35px;
    list-style-type: none;
    font-weight: bold;
}

#footer .links .col a {
    color: #dfdfdf;
}

#footer .links .col a:hover {
    color: #f4f4f4;
}

#footer .footer-end {
    background: #0F1617;
    color: #999;
    height: 90px;
    padding: 15px 7%;
}

#footer .social {
    float: right;
    display: flex;
    margin: 20px 0;
}

#footer .social a {
    margin-right: 40px;
    width: 30px;
    height: 30px;
}

#footer .social a i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #0F1617;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: all .2s ease-in;
}

#footer .social a i.fa-facebook-f:hover {
    background-color: #3b5998;
    color: white;
}

#footer .social a i.fa-instagram:hover {
    background-color: #8a3ab9;
    color: white;
}

#footer .social a i.fa-linkedin-in:hover {
    background-color: #0077b5;
    color: white;
}

#footer .social a i.fa-twitter:hover {
    background-color: #00acee;
    color: white;
}

#footer .social a i.fa-youtube:hover {
    background-color: #FF0000;
    color: white;
}

.search-input {
    margin-top: 8px;
    padding-left: 45px;
    height: 50px;
    outline: none;
    font-size: 17px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

.icon {
    font-size: 21px;
    color: white;
    position: absolute;
    left: 15px;
    z-index: 1;
    bottom: 15px;
    cursor: pointer;
}

.search-label {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: default;
    text-align: left;
}

:is(#footer) .contact-icons, .contact-heading{
    margin-top: 10px;
}

#footer .contact-heading b {
    color: white;
}

#footer .contact-heading p {
    color: white;
}

.contact-icons .icon-data i{
    color: white;
    width: 20px;
    height: 20px;
    background-color: #0F1617;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

.contact-icons .icon-content {
    color: white;
}


.wrapper{
    margin-top:50px;
    /* min-height:100%; */
    width:100%;
    padding:0 144px;
}
.paddingx-144{
    padding:0 144px;
}
.center-text{
    text-align: center;
}

.link-decoration{
    color:var(--heading);
    text-decoration: underline;
}


.alert{
    padding:20px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color:#000;
    background:rgba(0,0,0,0.1);
    color:black;
    border-radius: 5px;
    margin:10px 0;
}
.alert.alert-fail{
    border-color:red;
    background:rgba(255,0,0,0.1);
}

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:is(.contact-container) .contact-form, .contact-address {
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.contact-form {
    margin-right: 20px;
    padding: 20px 30px;
}

.contact-form p{
    color: var(--para);
}

.heading h1 {
    color: var(--heading);
    font-size: 36px;
    font-weight: 900;
}

.contact-form form {
    margin-top: 30px;
}

.input {
    width:100%;
    padding:20px 20px;
    margin-bottom:10px;
    background-color: #F7F9FC;
    color:#678bb4;
    border:1px solid #A8C4E5;
    font-size:17px;
    border-radius:5px;
    outline: none;
}

.input.viewInput {
    width: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
}

textarea.input {
    min-height: 100px;
    max-height: 300px;
    resize: none;
}

.contact-form select.contactSelect {
    width: 120px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
}

.contact-form .rowInput {
    border-radius: 0;
    border-right: none;
}

.req {
    color: red;
}

.icon {
    width: 20px;
    color: #a0a0a0;
    position: absolute;
    right: 15px;
    z-index: 10;
    bottom: 30px;
}

.contact-label {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    cursor: default;
    text-align: right;
    width: 100%;
}

.submit-button-container{
    width:100%;
    position: relative;
    cursor: pointer;
}

.submit-button-container::after{
    content:"";
    right:50px;
    top:50%;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    background-image: url('../svg/arrow.svg');
    background-position: center;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.submit-button {
    background-color: #C9932E;
    padding:20px;
    text-align: center;
    color:white;
    border-radius:40px;
    border:0;
    cursor: pointer;
    text-transform: capitalize;
    margin:20px 0;
    width: 100%;
}

.submit-button.alted {
    background-color: var(--heading) !important;
    border-radius:0px;
    margin:0;
    width: 100%;
}

.contact-address .contact-img {
    width: 100%;
    height: 300px;
    background-image: url('../png/Group 323.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-address .contact-img img {
    width: 400px;
    height: 120px;
}

.contact-address .contact-addresses {
    padding: 0 30px;
    margin-bottom: 80px;
}

.contact-address .contact-addresses h3 {
    color: var(--heading);
    font-size: 30px;
    font-weight: 800;
}

.contact-address .contact-addresses p {
    color: var(--para);
    font-size: 18px;
}

.custom-file-upload {
    height: 16rem;
    width:100%;
    padding:20px 20px;
    margin-bottom:10px;
    background-color: #F7F9FC;
    color:#678bb4;
    border:1px solid #A8C4E5;
    font-size:17px;
    border-radius:5px;
    outline: none;
    cursor: pointer;
}

.custom-file-upload p {
    color:#678bb4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload i {
    text-align: center;
    width: 100%;
    font-size: 60px;
    color:#678bb4;
}

.home-top-banner{
    height:600px;
    background-image:url('../png/Group 323.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-info-item .item{
    width:200px;
    height: 200px;
}
